<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog about Films</title>
      {% else %}
      <title>Welcome to my microblog about films</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body style="background-color: #c7b39b;">
        <div style="font-family:Georgia, 'Times New Roman', Times, serif">Microblog:
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('explore') }}">Поиск</a>
          {% if current_user.is_anonymous %}
          <a href="{{ url_for('login') }}">Login</a>
          {% else %}
          <a href="{{ url_for('user', username=current_user.username) }}">My Profile</a>
          <a href="{{ url_for('logout') }}">Logout</a>
          {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
